\spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/emsdb
    username: postgres
    password: Kent12052@
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always

# Swagger / OpenAPI
springdoc:
  api-docs:
    path: /v3/api-docs